body{
	margin:0;
	background-color:white;
}

/*nav*/
nav{
	padding:0 !important;
	background-color:pink;
	font-family:'Bilbo';					
	font-weight:bold;
	letter-spacing:2px;
}

.between_menu_cells{
	margin:12px 0;
	border:0.5px solid #a6a6a6;
}

.nav-link{
	color:black;
	font-size:16px;
	padding: 10px 10px;
	text-align:center;
}

#choosen_menu, .nav-link:hover{
	text-shadow: 1px 1px 2px #c11ba3, 0 0 5px gray, 0 0 15px #c11ba3;
}

/*footer*/
footer{
	clear:both;
	background-color:pink;
	padding:5px 0;
}

footer p{
	#font-size:16px;
	font-weight:bold;
	font-family:'Bad Script';
	letter-spacing:2px;
	margin-right:10%;
	margin-top:5px;
	margin-bottom:5px;
	text-align:right;
}

#tel{
	font-family: 'Architects Daughter';
	#font-size:18px;
}

.horizontal_line{
	height:1px;
	background-color:gray;
}



@media only screen and (max-width: 400px) {
    .nav li{
		width:48%;
	}
	
	#mid_line{
		visibility: hidden;
	}
	
	footer p{
		font-size:10px;
	}
	
	#tel{
		font-size:14px;
	}
	
	footer{
		height:35px;
	}
}

@media only screen and (min-width: 400px) {
	footer p{
		font-size:16px;
	}
	
	#tel{
		font-size:18px;
	}
	
	footer{
		height:47px;
	}
}