h2{
	text-align:center;
	font-family:"Bilbo";					
	font-weight:bold;
	letter-spacing:2px;
	font-size:35px;
	font-style:italic;
	min-width:800px;
	text-shadow: 1px 1px 2px #c11ba3,0 0 15px #c11ba3;

	
}

.border{
	border: 3px dashed #FFD700;
	margin:30px;
	padding:10px;
	display:table;
	min-width:700px;
}

.img{
	height:100%;
	width:50%;
	display:table-cell;
	background-color:#aaacaf;
}

img{
	vertical-align:middle;
	width:100%;
	margin:auto;
}

h3{
	font-size:35px;
	margin-bottom:8px;
	#font-family:'Bad Script';
}

.desc{
	vertical-align:top;
	padding:1% 4%;
	height:100px;
	width:50%;
	background-color:#909296;
	display:table-cell;
}

.desc p{
	font-size:22px;
	font-family:"Georgia", serif;
}



.price{
	margin-top:10px;
	font-size:18px !important;
	font-style:italic;
}

.horizontal_line3{
	width:50%;
	height:0px;
	border-top:2px dashed black;
}